
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    background-color: rgb(53, 57, 59);
    color: rgb(76, 113, 177);
    vertical-align: middle;
    /*align-items: center;*/
    display: grid;

}

.btn-save {
    background-color: rgb(76, 113, 177);
    color: white;
    border: 0px;
    padding: 5px 8px;
    border-radius: 5px;
}
.btn-save:hover {
    background-color: rgb(98, 131, 189);
}

button {
    height: 38px;
}



.left button {
    background-color: rgb(76, 113, 177);
    color: white;
    border: 0px;
    padding: 5px 8px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

.left button:active {
    background-color: rgb(76, 119, 195);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.4);
    transition: all 0.1s ease;
}

.left button:hover {
    background-color: rgb(98, 131, 189);

}

.btn-save:active {
    background-color: rgb(76, 119, 195);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.4);
    transition: all 0.1s ease;
}

.container {
    width: 80%;
    height: auto;
    margin: 100px auto;
    border: solid 1px black;
    background-color: rgb(19, 17, 17);
}

.container-form {
    width: 80%;
    height: auto;
    margin: auto;
    border: solid 1px black;
    background-color: rgb(19, 17, 17);
}

.fila {
    height: 50px;
    border-bottom: 1px solid rgb(76, 113, 177);
}

.icon {
    width: 25px;

}

.icon-editar {
    width: 15px;
    margin-right: 5px;
}

input {
    height: 40px;
}

input[type="file"] {
    height: 30px;
}

.input-box {
    background-color: white;
    border-radius: 5px;
}
.input-box:focus{
    box-shadow: 0px 0px 20px yellowgreen;
}

.input-box, option{
    background-color: white;
}

label {
    margin-right: 5px;
}


.title-container {
    border: solid 2px rgb(76, 113, 177);
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}

.top {
    padding: 30px ;
    margin-left: 0px;
}

.top .input-box {
    margin-right: 50px;
}


.down {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
}
.down button{
    margin-left: 5px;
}

.right {
    display: inline;

}


.left {
    /*display: inline;*/
}

.subcontainer-form {
   padding: 30px 70px;
}

.subcontainer-form input {
    margin-left: 20px;

}

.subcontainer-form div{
    margin-top: 20px;
}

#table {
    width: 100%;
    margin-bottom: 20px;
}

#table td{
    background-color: rgb(70, 70, 73, 0.7);
    padding: 5px;
}

.title-form {
    text-align: center;
    margin-top: 35px;
}


/*/////////////////////////////////////*/


.subcontainer-form div {
    display: flex;

}


.subcontainer-form label {
    width: 120px;
    min-width: 120px;
    text-align: right;
    margin-right: 20px;
}


.subcontainer-form .input-box {
    flex-grow: 1;
    max-width: 200px;
    margin-left: 0px;
}